@CHARSET "UTF-8";

body {
	background-color: white;
	width: 1300px;
}

nav{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
	
	height: 50px;
	
	width:90%;
	
	background-color: #3B3B3B;
	opacity: 0.8;
	
	-webkit-border-radius: 20px;
	border-radius: 20px;
	
	-webkit-box-shadow: -2px -2px 15px ipx rgba(0, 0, 0, 0.7);
	box-shadow: -2px -2px 15px ipx rgba(0, 0, 0, 0.7);
	}
	
footer{
	width: 90%;
	height: 10%;
	
	background-color: white;
	
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: -10px;
	
	clear: both;
	
	background-color: #3B3B3B;
	opacity: 0.8;

	}
	
header{
	width: 90%;
	height: 200px;
	
	margin-top: 30px;
	margin-left: 5%;
	margin-right: 5%;
	
	background-color: #3B3B3B;
	opacity: 0.8;
	}
	
#LEFT_COLUMN {
	width: 200px;
	margin-right: 5px;
	
	background-color: #3B3B3B;
	opacity: 0.8;
	
	position: absolute;	
	left: 0px;
	top: 0px;
}

#RIGHT_COLUMN {
	width: 200px;
	overflow: hidden;
	
	background-color: #3B3B3B;
	opacity: 0.8;
	
	
	position: absolute;
	top: 0px;
	right:0px;
}

#CENTER {	
	margin-left: 5%;
	margin-right: 5%;
	
	margin-top: 10px;
	margin-bottom: 10px;
	
	padding: 0px;
	
	position: relative;
	}

article {

	margin-right: 210px;
	margin-left: 210px;
	
	width: auto;
	background-color: #3B3B3B;
	color: black;
	opacity: 0.8;

	position: relative;
	
		
	-webkit-box-shadow: -2px -2px 15px ipx rgba(0, 0, 0, 0.7);
	box-shadow: -2px -2px 15px ipx rgba(0, 0, 0, 0.7);


	
	}
	
#Button{
	border-top: 0px;
	border-bottom: 0px;
	border-left: 1px;
	border-style: solid;
	border-color: green;
	
	margin-left: -4px;
	
	background:-webkit-gradient(radial, 165 -40, 0, 220 -257, 465, from(#009900), to(#504E28));
	color: white;
	text-align: center;
	font-weight: bold;
	width: 20%;
	height: 100%;
	clear: none;
	float: left;
	vertical-align: bottom;
	background-color: black;
	
	text-shadow: 2px 2px 10px #00000000000000;
	filter: dropshadow(color=#00000000000000, offx=2, offy=2);
}





